* {
  margin: 0;
  padding: 0;
}

.tasks {
  width: 800px;
  height: 50vh;

  background: rgba(136, 136, 136, 0.103);

  overflow-y: scroll;
  border-radius: 5px;

  display: flex;
  justify-content: start;
  align-items: start;
  gap: 10px;
  flex-wrap: wrap;

  box-sizing: border-box;
  padding: 10px;
}

.tasks::-webkit-scrollbar {
  width: 5px;
}

.tasks::-webkit-scrollbar-thumb {
  background-color: rgb(83, 80, 80);

  transition: 200ms;
}

.tasks::-webkit-scrollbar-thumb:hover {
  background-color: white;
}

.tasks::-webkit-scrollbar-track {
  background-color: rgb(44, 44, 44);
}

/* each item in the total tasks */
.task-item {
  background-color: rgba(255, 255, 255, 0.796);

  padding: 10px;
  border-radius: 5px;

  height: 100px;
  width: 100px;

  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  overflow: hidden;
}

.task-item:hover {
  background-color: white;
}

.title {
  height: 50px;
  width: 100%;

  font-size: 14px;

  text-overflow: ellipsis;
}

.action {
  width: 100%;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.action button {
  outline: none;
  border: none;

  background-color: transparent;
}

.action-btn {
  font-size: 20px;
  color: rgb(31, 221, 31);

  cursor: pointer;
}

.danger {
  color: red;
}

.inactive {
  color: rgb(40, 166, 207);
}

@media (max-width: 850px) {
  .tasks {
    width: 650px;
    gap: 8px;
  }

  /* each item in the total tasks */
  .task-item {
    height: 90px;
    width: 90px;
  }

  .title {
    font-size: 13px;
  }
}

@media (max-width: 670px) {
  .tasks {
    width: 500px;
    height: 60vh;
    gap: 8px;
  }
}

@media (max-width: 525px) {
  .tasks {
    width: 300px;
    gap: 8px;
  }

  .task-item {
    height: 100px;
    width: 100px;
  }

  .title {
    font-size: 13px;
  }
}
